 <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Sr No</th>
                        <th>Full Name</th>
                        <th>Role</th>
                        <th>Address</th>
                        <th>Email</th>
                        <th>Contact</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let emp of EmployeeArr; let i=index"  trackBy="TrachById">
                        <td>{{i+1}}</td>
                        <td>{{emp.Fname}} {{emp.Lname}}</td>
                        <td>{{emp.Role}}</td>
                        <td>{{emp.Address}}</td>
                        <td>{{emp.Email}}</td>
                        <td>{{emp.Contact}}</td>
                      
                        
                        <td><button 
                               (click)="onEdit(emp)" 
                                mat-mini-fab color="primary"><mat-icon>edit</mat-icon> </button></td>
                            <td><button 
                               (click)="OnRemove(emp.id)"
                                mat-mini-fab color="warn"><mat-icon>delete</mat-icon> </button></td> 
                    </tr>
                </tbody>
            </table>

              